.row
  %h2
    Classrooms
  .large-4.columns
    = link_to 'Create New Quiz', new_assignment_path, remote: true, class: 'button tiny radius'
    = link_to 'Load quiz', assignments_path, remote: true, class: 'button tiny radius'
.row
  #body
%svg