.row#classroom_id{:'data-classroom-id' => @classroom.id}
  .large-4.columns
    = link_to 'Create New Quiz', new_assignment_path, remote: true, class: 'button tiny radius'
    = link_to 'Load quiz', assignments_path, remote: true, class: 'button tiny radius'
.row
  #body
%svg