#assignment_id{:'data-assignment-id' => @assignment.id}
Beginning of assignment info
%h3= @assignment.name
%p.no_margin.tiny_text QUIZ TAGS
- @assignment.tags.each do |tag|
  .label.success.round= tag.name
