.row
  .large-4.columns
    #assignment
      %h3 Create Assignment
      = render partial: 'assignments/assignment_form'
    #q_header
      %h3 Add Questions
    #question_form
    #answer_form

    #finish_question
      = link_to('Finish Question', '#', :'data-finish-question-form' => true, :class => 'button tiny success')
  .large-8.columns
    #question_info