<% if session[:user_id].present? %>
$('h3').append('<h4>You are logged in <%= @auth.name.titleize %></h4>');
$('#form h4').fadeOut(3500, function(){ document.location.href = '/'});
<% else %>
  $('#form').effect("bounce", 300);
<% end %>
