<% if @user.valid? %>
  $('h3').append('<h4>Thanks for signing up, <%= @user.name.titleize %>. You are now a member.</h4>');
$('#form h4').fadeOut(3500, function(){ document.location.href = '/'});

<% else %>
  $('#reg_form').effect("bounce", 300);
<% end %>



