.row
  .large-12.columns
    %br
    %h1 HomeTexter
    #form
  .large-6.columns
    #homecontent
      %p 
        Echo park readymade williamsburg raw denim nostrud art party. 8-bit photo booth voluptate, commodo blog ennui meh qui nisi high life trust fund tousled salvia Austin typewriter. Nulla PBR pork belly artisan. Quinoa meh four loko, brooklyn et pug 90's hella cray narwhal terry richardson bicycle rights. Consequat whatever ut, four loko keytar church-key organic est ullamco salvia high life scenester. Umami keffiyeh butcher, lomo truffaut helvetica fixie. Messenger bag narwhal duis deserunt voluptate mlkshk brunch tumblr, single-origin coffee deep v chambray.
  .large-6.columns
    =image_tag ('classroom2.jpg')
  %br
  %br