@import url(http://fonts.googleapis.com/css?family=PT+Sans);

.top-bar
{
  background: rgba(028, 052, 076, .6);
  height: 70px;
  box-shadow: 0px 12px 0px rgba(38, 107, 129, 0.8);
}

a#register, a#login, a#delete, a#classroom, a#profile, a#logout
{ 
  font-size: 24px;
  padding: 12px 10px;
  margin: 0px auto;
  background: none;
  color: #0099cc;
}

a#logout, a#register
{
  margin-right: 40px;
}

.top-bar ul
{
  background: none;
}

body 
{
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 2px auto;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

#container 
{ background: url('container.png') repeat;
  width: 1200px;
  margin: 10px auto;
  opacity: .85;
  border-radius: 30px;
  box-shadow: 12px 12px 5px rgba(50, 50, 50, 0.75);
}

#homecontent
{
  padding: 10px 10px;
  margin: 10px 10px 20px 10px;
}

#nav_header
{
  margin: 10px auto;
  font-size: 40px;
  margin-left: 40px;
}

h1
{
  font-size: 80px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-shadow: 3px 3px #000000;
  color: #266B52;
}

h2
{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 46px;
  color: #266B52;
}

table
{ 
  border: 1px dashed grey;
}
