.chart div {
  font: 10px sans-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: black;
  fill: teal;
}

svg {
  width: 200px;
  height: 100px;
}