<nav class="top-bar" id= "nav">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to("Final Quiz", root_path) %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">

    </ul>

    <ul class="right">
      <%== login_helper %>

    </ul>
  </section>
</nav>
<br>